<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Agregar Usuario</h1>

    <form action="#" th:action="@{/agregarUsuario}" th:object="${usuario}" method="post">
        <p>
            Nombre: <input type="text" th:field="*{nombre}">
        </p>
        <p>
            Ocupacion: <input type="text" th:field="*{ocupacion}">
        </p>
        <p>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </p>
    </form>
</body>
</html>